In [1]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://Sain:sainiscool@cluster0.ugatn9a.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [5]:
db=client['mongodb']

Q1-Design a MongoDB schema for a "Student" collection with the following fields:

In [6]:
collection = db["Student"]

Q2- Insert the following student data in the collection

In [9]:
student_data=[
{"RollNum": 43, "FirstName": "John","LastName":"Doe","Age": 20,"Department":"Computer Science","Mark": 78},
{"RollNum": 67, "FirstName": "Alice","LastName":"Smith","Age": 22,"Department":"Physics","Mark": 59},
{"RollNum": 23, "FirstName": "Bob","LastName":"Johnson","Age": 21,"Department":"Computer Science","Mark": 81},
{"RollNum": 18, "FirstName": "Eve","LastName":"Adams","Age": 19,"Department":"Mathematics","Mark": 56},
{"RollNum": 84, "FirstName": "Mike","LastName":"Brown","Age": 23,"Department":"Physics","Mark": 92}
]

In [11]:
result = collection.insert_many(student_data)

Q3-Write a MongoDB query to find all students.

In [25]:
for i in db.Student.find({}):
    print(i)

{'_id': ObjectId('6548ccbd13bcdb7d44650428'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6548ccbd13bcdb7d44650429'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6548ccbd13bcdb7d4465042a'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6548ccbd13bcdb7d4465042b'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}
{'_id': ObjectId('6548ccbd13bcdb7d4465042c'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}

Q4-Write a MongoDB query to find all students in the "Computer Science" department.

In [26]:
for i in db.Student.find({"Department": "Computer Science"}):
    print(i)

{'_id': ObjectId('6548ccbd13bcdb7d44650428'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6548ccbd13bcdb7d4465042a'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}

Q5-Write a MongoDB query to find all students whose age is greater than or equal to 20.

In [27]:
for i in db.Student.find({"Age": {"$gte": 20}}):
    print(i)

{'_id': ObjectId('6548ccbd13bcdb7d44650428'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6548ccbd13bcdb7d44650429'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6548ccbd13bcdb7d4465042a'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6548ccbd13bcdb7d4465042c'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}

Q6-Write a MongoDB query to find all students whose mark is less than 60.

In [28]:
for i in db.Student.find({"Mark": {"$lt": 60}}):
    print(i)

{'_id': ObjectId('6548ccbd13bcdb7d44650429'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6548ccbd13bcdb7d4465042b'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}

Q7-Write a MongoDB query to show the first name and Mark of all students in the "Physics"
department.

In [29]:
for i in db.Student.find({"Department": "Physics"}, {"FirstName": 1, "Mark": 1}):
    print(i)

{'_id': ObjectId('6548ccbd13bcdb7d44650429'), 'FirstName': 'Alice', 'Mark': 59}
{'_id': ObjectId('6548ccbd13bcdb7d4465042c'), 'FirstName': 'Mike', 'Mark': 92}

Q8-Write a MongoDB query to find all students in the descending order of Mark.

In [30]:
for i in db.Student.find().sort({"Mark": -1}):
    print(i)

{'_id': ObjectId('6548ccbd13bcdb7d4465042c'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}
{'_id': ObjectId('6548ccbd13bcdb7d4465042a'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6548ccbd13bcdb7d44650428'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6548ccbd13bcdb7d44650429'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6548ccbd13bcdb7d4465042b'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}

Q9-Write a MongoDB query to find the youngest student.

In [31]:
for i in db.Student.find().sort({"Age": 1}).limit(1):
    print(i)

{'_id': ObjectId('6548ccbd13bcdb7d4465042b'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}

Q10-Write a MongoDB query to find all students in the "Physics" department whose RollNum is
greater than or equal to 70.

In [32]:
for i in db.Student.find({"Department": "Physics", "RollNum": {"$gte": 70}}):
    print(i)

{'_id': ObjectId('6548ccbd13bcdb7d4465042c'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}